.container {
    border: 2px solid black;
    position: fixed;
    top: 10%;
    left: 20%;
    height: 600px;
    width: 800px;
}

.game-area {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bottom-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.player-info {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 300px;
}

.inventory-space {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 440px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
}

.item {
    border: 1px solid black;
    margin: 15px;
    padding: 5px; 
    height: 25px;
    width: 25px;
}    

.game-area {
    text-align: center;
}

#instructions {
    position: absolute;
    bottom: 30px;;
    left: 15px;
}

#start-game {
    position: absolute;
    bottom: 30px;
    left: 100px;
}

#reset-btn {
    position: absolute;
    bottom: 30px;
    left: 140px;
}

.button-container {
    position: absolute;
    top: 290px;
    padding: 10px;
    
}